//Primary Colors
$c1: #573F2F;
$c2: #dfcebb;

//Secondary Colors
$c3: #FFF9EB;
$c4: #495626;
$c5: #782421;
$c6: #B3672F;
$c7: #F0E9DA;
$c8: #69897E;
$c9: #1F443B;
$c4t: rgba(255, 255, 255, 0.92);
$c1t: rgba(38, 31, 65, 0.9);

$tr: .3s ease-in-out;
$tr-lg: .4s ease-in-out;
